- name: merge uid/git/user roles
  set_fact:
    xuid: "{{ lookup('community.general.merge_variables', '^uid_.*' ) }}"
    xgid: "{{ lookup('community.general.merge_variables', '^gid_.*' ) }}"

- name: ensure UID/GID and names uniqueness
  delegate_to: localhost
  vars:
    duplicate_uid: "{{ xuid | map(attribute='id') | community.general.counter | dict2items | selectattr('value', '>', 1) | map(attribute='key') }}"
    duplicate_gid: "{{ xgid | map(attribute='id') | community.general.counter | dict2items | selectattr('value', '>', 1) | map(attribute='key') }}"
    duplicate_username: "{{ xuid | map(attribute='name') | community.general.counter | dict2items | selectattr('value', '>', 1) | map(attribute='key') }}"
    duplicate_groupname: "{{ xgid | map(attribute='name') | community.general.counter | dict2items | selectattr('value', '>', 1) | map(attribute='key') }}"
  assert:
    that:
      - duplicate_uid | length == 0
      - duplicate_gid | length == 0
      - duplicate_username | length == 0
      - duplicate_groupname | length == 0
    msg: "duplicate_uid: {{ duplicate_uid }}, duplicate_gid: {{ duplicate_gid }}, duplicate_username: {{ duplicate_username }}, , duplicate_groupname: {{ duplicate_groupname }}"

- name: test
  delegate_to: localhost
  assert:
    that:
      true

- name: Safe defaults
  set_fact:
    admins: "{{ admins | default() }}"
    users: "{{ users | default() }}"
    usergroups: "{{ usergroups | default() }}"
    xuid_users: "{{ [] }}"
    xuid_admins: "{{ [] }}"
- name: Get admins and users
  set_fact:
    admins: "{{ vars[admins] | default([]) }}"
    users: "{{ vars[users] | default([]) }}"
    usergroups: "{{ vars[usergroups] | default([]) }}"

- name: Generate admin uid
  set_fact:
    xuid_admins: "{{ xuid_admins | default([]) +  [item] }}"
  when: item.name in admins
  loop: "{{ xuid }}"

- name: Generate users uid
  set_fact:
    xuid_users: "{{ xuid_users | default([]) +  [item] }}"
  when: item.name in users or item.name in admins
  loop: "{{ xuid }}"

- name: Generate users gid
  set_fact:
    xgid: "{{ xgid | default([]) +  [item] }}"
  when: item.name in usergroups
  loop: "{{ xgid }}"
