- name: motd logo copy
  ansible.builtin.copy:
    src: "{{ conf_dir ~ '/' ~ motd_logo }}"
    dest: /etc/update-motd.d/
  when: motd_logo is defined

- name: motd logo
  ansible.builtin.copy:
    dest: /etc/update-motd.d/03-logo
    mode: a+x
    content: |
             #!/bin/bash
             cat /etc/update-motd.d/isc-logo.ans
  when: motd_logo is defined

- name: motd str
  ansible.builtin.copy:
    dest: /etc/update-motd.d/05-str
    mode: a+x
    content: |
             #!/bin/bash
             echo
             echo '{{ motd_str }}'
  when: motd_str is defined

- name: motd files
  set_fact:
    l:
    - /etc/update-motd.d/10-help-text
    - /etc/update-motd.d/50-motd-news
    - /etc/update-motd.d/91-contract-ua-esm-status
    - /etc/update-motd.d/85-fwupd
    - /etc/update-motd.d/92-unattended-upgrades
    - /etc/update-motd.d/90-updates-available
    - /etc/update-motd.d/91-release-upgrade

- name: motd create missing files
  ansible.builtin.copy:
    content: ""
    dest: "{{ item }}"
    force: false
  loop: "{{ l }}"

- name: quieter motd
  ansible.builtin.file:
    path: "{{ item }}"
    mode: a-x
  loop: "{{ l }}"
