- name: Display admins
  run_once: true
  delegate_to: localhost
  debug:
    msg: "admins: {{ admin_uids | map(attribute='name') | join(', ') }}"

- name: create sudonopass groups
  ansible.builtin.group:
    system: true
    name: "sudonopass"

- name: create admins
  ansible.builtin.user:
    name: "{{ item.name }}"
    uid: "{{ item.id }}"
    comment: "{{ item.email | default(omit) }}"
    shell: "{{ item.shell }}"
    update_password: on_create
  with_items:
    - "{{ admin_uids }}"

- name: admin users groups
  ansible.builtin.user:
    name: "{{ item.name }}"
    groups: "{{ admins_gids | map(attribute='name') | list + ['adm','plugdev','users','sudonopass'] }}"
    append: true
  with_items:
    - "{{ admin_uids }}"

- name: sudo without password
  community.general.sudoers:
    name: admin-nopass
    group: sudonopass
    commands: ALL

- name: ubuntu user authorized_keys
  ansible.posix.authorized_key:
    manage_dir: true
    user: ubuntu
    key: "{{ lookup('file', 'conf/authorized_keys/' ~ item.name ~ '.pub') }}"
  with_items:
    - "{{ admin_uids }}"

- name: admin users authorized_key
  ansible.posix.authorized_key:
    manage_dir: true
    user: "{{ item.name }}"
    key: "{{ lookup('file', 'conf/authorized_keys/' ~ item.name ~ '.pub') }}"
  with_items:
    - "{{ admin_uids }}"
