- name: Disable update/upgrade services
  ansible.builtin.systemd_service:
    name: "{{ item }}"
    state: stopped
    enabled: false
    masked: true
  loop:
    - unattended-upgrades.service
    - apt-daily-upgrade.service
    - apt-daily-upgrade.timer
    - apt-daily.service
    - apt-daily.timer
    - apt-news.service
    - fwupd-offline-update.service
    - fwupd-refresh.service
    - fwupd-refresh.timer
    - fwupd.service

- name: Set debconf
  ansible.builtin.debconf:
    name: unattended-upgrades
    question: unattended-upgrades/enable_auto_updates
    value: false
    vtype: boolean

- name: Disable snap refresh
  check_mode: false
  ansible.builtin.shell: |
    if snap refresh --time --abs-time | grep 'hold: forever' ; then
      return 0
    else
      {% if ansible_check_mode %}
      return 1
      {% endif %}
      if snap refresh --hold=forever ; then
        return 1
      else
        return 2
      fi
    fi
  register: retval
  changed_when: retval.rc == 1
  failed_when: retval == 2
