- name: fastfetch installed?
  check_mode: false
  ansible.builtin.shell: which fastfetch
  register: which_fastfetch
  changed_when: false
  failed_when: false

- name: install fastfetch
  ansible.builtin.apt:
    deb: https://github.com/fastfetch-cli/fastfetch/releases/download/2.58.0/fastfetch-linux-amd64.deb
    state: present
  when: ansible_facts['architecture'] == "x86_64" and which_fastfetch.rc != 0
