- name: Update service list
  set_fact:
    update_timers:
      - apt-daily-upgrade.timer
      - apt-daily.timer
      - fwupd-refresh.timer
    update_services:
      - unattended-upgrades.service
      - apt-daily-upgrade.service
      - apt-daily.service
      - apt-news.service
      - fwupd-offline-update.service
      - fwupd-refresh.service
      - fwupd.service

# create empty services for packages not installed, so the playbook will be less
# verbose
- name: Create uninstalled services
  ansible.builtin.copy:
    force: false
    dest: /usr/lib/systemd/system/{{item}}
    content: |
      [Unit]
      Description=Service placeholder

      [Service]
      Type=oneshot
      ExecStart=/bin/true

      [Install]
      WantedBy=multi-user.target
  loop: "{{ update_services }}"

- name: Create uninstalled timers
  ansible.builtin.copy:
    force: false
    dest: /usr/lib/systemd/system/{{item}}
    content: |
      [Unit]
      Description=Timer placeholder

      [Timer]
      OnBootSec=1y
      OnUnitActiveSec=1y

      [Install]
      WantedBy=timers.target
  loop: "{{ update_timers }}"

- name: Disable update/upgrade services
  ansible.builtin.systemd_service:
    name: "{{ item }}"
    state: stopped
    enabled: false
    masked: true
  loop: "{{ update_timers + update_services}}"

- name: Set debconf
  ansible.builtin.debconf:
    name: unattended-upgrades
    question: unattended-upgrades/enable_auto_updates
    value: false
    vtype: boolean

- name: Disable snap refresh
  check_mode: false
  ansible.builtin.shell: |
    if snap refresh --time --abs-time | grep 'hold: forever' ; then
      return 0
    else
      {% if ansible_check_mode %}
      return 1
      {% endif %}
      if snap refresh --hold=forever ; then
        return 1
      else
        return 2
      fi
    fi
  register: retval
  changed_when: retval.rc == 1
  failed_when: retval == 2
