- name: Update apt packages
  ansible.builtin.apt:
    upgrade: "{{ apt_upgrade | default('no') }}"
    update_cache: yes
    cache_valid_time: "{{ cache_valid_time | default(86400) }}"

- name: Install common tools
  ansible.builtin.apt:
    update_cache: yes
    cache_valid_time: "{{ cache_valid_time | default(86400) }}"
    pkg:
      - apt-transport-https
      - gpg
      - byobu
      - ncdu
      - htop
      - iotop
      - curl
      - lnav
      - lm-sensors
      - zsh
      - stress
      - stress-ng

- name: ncdu safe options for 24.04
  ansible.builtin.copy:
    dest: /etc/ncdu.conf
    mode: a+r
    content: |
             # make ncdu read-only
             --disable-delete
             --disable-shell
  when: ub24_04

- name: ncdu safe options for 22.04 using bash
  ansible.builtin.copy:
    dest: /etc/profile.d/00-ncdu-readonly.sh
    mode: a+r
    content: alias ncdu='ncdu -rr'
  when: ub22_04

- name: ncdu safe options for 22.04 using zsh
  ansible.builtin.lineinfile:
    dest: /etc/zsh/zshenv
    regexp: "(?i)^alias ncdu="
    line: "alias ncdu='ncdu -rr'"
    state: present
  when: ub22_04

- name: iotop enable kernel.task_delayacct
  ansible.posix.sysctl:
    name: kernel.task_delayacct
    value: '1'
    sysctl_set: true
    state: present
    reload: true

- name: Install fastfetch
  include_tasks: os-ubuntu-sw-fastfetch.yml
