- name: create users
  ansible.builtin.user:
    name: "{{ item.name }}"
    uid: "{{ item.id }}"
    comment: "{{ item.email | default(omit) }}"
    shell: "{{ item.shell }}"
    update_password: on_create
  with_items:
    - "{{ uids }}"

- name: create users groups
  ansible.builtin.group:
    name: "{{ item.name }}"
    state: present
  loop: "{{ gids }}"

- name: map users/groups
  ansible.builtin.user:
    name: "{{ item.name }}"
    groups: "{{ gids | map(attribute='name') | list + ['users'] }}"
    append: true
  loop: "{{ uids }}"

- name: users authorized_keys
  ansible.posix.authorized_key:
    manage_dir: true
    user: "{{ item.name }}"
    key: "{{ lookup('file', conf_dir ~ '/authorized_keys/' ~ item.name ~ '.pub') }}"

  with_items:
    - "{{ uids }}"

##############################################################################
# We need HOME for login users (including root)
##############################################################################

- name: Generate user list
  run_once: true
  delegate_to: localhost
  set_fact:
    # add root, because it is not expected in uid
    all_users: "{{ uids | map(attribute='name') | list + ['root'] }}"

- name: Get user's info
  ansible.builtin.user:
    name: "{{ item }}"
  with_items:
    - "{{ all_users }}"
  register: all_users_info

- name: $HOME list
  set_fact:
    homes: "{{ all_users_info.results }}"

##############################################################################
# Overwrite defaults for user who have never login
##############################################################################
- name: skel needed?
  check_mode: false
  no_log: true
  ansible.builtin.shell: |
    if ls -lh {{ item.home }}/.bash_history ; then
      return 0
    fi
    if ls -lh {{ item.home }}/.zsh_history ; then
      return 0
    fi
    return 1
  with_items:
    - "{{ homes }}"
  register: skel_needed
  changed_when: false
  failed_when: skel_needed.rc != 0 and skel_needed.rc != 1

- name: $HOME list (skel needed)
  set_fact:
    skel_homes: "{{ skel_needed.results | selectattr('rc', 'equalto', 1) }}"

- name: skel copy
  no_log: true
  ansible.builtin.copy:
    owner: "{{ item.item.uid }}"
    group: "{{ item.item.group }}"
    src: "{{ conf_dir ~ '/files/skel/' }}"
    dest: "{{ item.item.home }}"
  with_items: "{{ skel_needed.results }}"

- name: enable bash colors (for tty and sudo)
  no_log: true
  lineinfile:
    dest: "{{ item.home }}/.bashrc"
    regexp: "^#force_color_prompt=yes"
    line: "force_color_prompt=yes"
    state: present
  with_items:
    - "{{ homes }}"

- name: bash color red for root
  lineinfile:
    dest: "/root/.bashrc"
    regexp: '(    PS1=.*)(\[01;32m\\]\\u)(.*)'
    line: '\g<1>[01;31m\\]\\u\g<3>'
    backrefs: yes
    state: present
